<div class="container">

	<h1>Make a new product</h1>

	<%= simple_form_for [@user, @product] do |f| %>
		
		<div class="field">
			<%= f.input :kind %>
			<%= f.input :description %>
			<%= f.input :address %>
			<%= f.input :latitude, :as => :hidden, :input_html => { :value => "some value" } %>
			<%= f.input :longitude, :as => :hidden, :input_html => { :value => "some value" } %>
			<%= f.input :price %>
			<%= f.input :availability, :as => :datetime_picker %>
			<%= f.button :submit %>
		</div>
		
	<% end %>

</div>	