<h1>Make a new product</h1>

<%= form_for [@user, @product] do |f| %> 

	<div class="field">
    <%= f.label :kind %><br />
    <%= f.text_field :kind %>
  </div>

  <br />

	<div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>

  <br />

	<div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </div>

  <br />

	<div class="field">
    <%= f.hidden_field :latitude %>
  </div>

	<div class="field">
    <%= f.hidden_field :longitude %>
  </div>

	<div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </div>

  <br />

  <div class="field">
    <%= f.label :availability %><br />
    <%= f.text_field :availability, :size => 30, placeholder: 'YYYY-MM-DD HH:MM:SS' %>
  </div>

	<br />

	<div class="actions">
    <%= f.submit "submit" %>
  </div>


<% end  %>