<h1>Make a new product</h1>





<%= simple_form_for [@user, @product] do |f| %>
	

	<div class="field">
		<%= f.input :kind %><br />
		<%= f.input :description %><br />
		<%= f.input :address %><br />
		<%= f.input :latitude, :as => :hidden, :input_html => { :value => "some value" } %><br />
		<%= f.input :longitude, :as => :hidden, :input_html => { :value => "some value" } %><br />
		<%= f.input :price %><br />
		<%= f.input :availability, :as => :datetime_picker %><br />
		<%= f.button :submit %><br />
	</div>
	
<% end %>

