<h1>Product details</h1>


<h3>Kind: <%= @product.kind %> </h3>
<h3>Description: <%= @product.description %> </h3>
<h3>Address: <%= @product.address %> </h3>
<h3>Price: <%= @product.price %> </h3>
<h3>Availibility: <%= @product.availability.strftime("%B %e, %Y at %l:%M %p") %> </h3>
