<!DOCTYPE html>
<html>
<head>
  <title>Swuit</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

  <!-- Font Awesome -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

  <!-- Google Web Font -->
  <link href='http://fonts.googleapis.com/css?family=Orbitron:900' rel='stylesheet' type='text/css'>

  <!-- START MAPBOX -->
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.css' rel='stylesheet' />
  <style>
    body { margin:0; padding:0; }
    #map { position:absolute; top:0; bottom:0; width:60%; }
  </style>
  <!-- END MAPBOX -->
</head>

<body class="color">
  <!-- start top navbar -->
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <div class="nav navbar-right nav pull-left">
          <%= link_to('<i class="fa fa-home fa-lg"></i>'.html_safe, root_path, class: "btn btn-success")  %>
            <% if user_signed_in? %>
              <%= link_to('<i class="fa fa-cogs fa-lg"></i>'.html_safe, user_path(current_user), class: "btn btn-info") %>
              <%= link_to('<i class="fa fa-map-marker fa-lg"></i>'.html_safe, map_path, class: "btn btn-info") %>
              <%= link_to('<i class="fa fa-power-off fa-lg"></i>'.html_safe, destroy_user_session_path, :method => :delete, class: "btn btn-danger") %>  
            <% else %>
              <%= link_to('<i class="fa fa-user fa-lg"></i>'.html_safe, new_user_session_path, class: "btn btn-success")  %>
              <%= link_to('<i class="fa fa-user-plus fa-lg"></i>'.html_safe, new_user_registration_path, class: "btn btn-warning") %>
          <% end %>
        </div>
      </div>
    </div>
  </div>  
  <!-- end top navbar -->

  <div class="container">
    <br><br><br>
    <%= yield %>
  </div>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

<script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>

</body>
</html>
