<!DOCTYPE html>
<html>
<head>
  <title>Swuit</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

  <!-- Font Awesome -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

  <!-- Google Web Font -->
  <link href='http://fonts.googleapis.com/css?family=Orbitron:900' rel='stylesheet' type='text/css'>

  <!-- START MAPBOX -->
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.css' rel='stylesheet' />

  <!-- END MAPBOX -->

  <!-- start Mixpanel -->

  <script type="text/javascript">(function(f,b){if(!b.__SV){var a,e,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=f.createElement("script");a.type="text/javascript";a.async=!0;a.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";e=f.getElementsByTagName("script")[0];e.parentNode.insertBefore(a,e)}})(document,window.mixpanel||[]);
mixpanel.init("3d3d3fc486d9029386fa93fa04b56a35");</script>

<script type="text/javascript">
mixpanel.track("Sign in");
</script>

<script type="text/javascript">
mixpanel.track("Sign out");
</script>

<script type="text/javascript">
mixpanel.track("Sign up");
</script>

<!-- end Mixpanel -->

</head>

<body class="color">
  <!-- start top navbar -->
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <div class="nav navbar-right nav pull-left">
          <%= link_to('<i class="fa fa-home fa-lg"></i>'.html_safe, root_path, class: "btn btn-success")  %>
            <% if user_signed_in? %>
              <%= link_to('<i class="fa fa-cogs fa-lg"></i>'.html_safe, user_path(current_user), class: "btn btn-info") %>
              <%= link_to('<i class="fa fa-map-marker fa-lg"></i>'.html_safe, map_path, class: "btn btn-info") %>
              <%= link_to('<i class="fa fa-power-off fa-lg"></i>'.html_safe, destroy_user_session_path, :method => :delete, class: "btn btn-danger") %>  
            <% else %>
              <%= link_to('<i class="fa fa-user fa-lg"></i>'.html_safe, new_user_session_path, class: "btn btn-success")  %>
              <%= link_to('<i class="fa fa-user-plus fa-lg"></i>'.html_safe, new_user_registration_path, class: "btn btn-warning") %>
          <% end %>
        </div>
      </div>
    </div>
  </div>  
  <!-- end top navbar -->

  <div class="container">
    <br><br><br>
    <%= yield %>
  </div>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

<script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>

</body>
</html>
