<!DOCTYPE html>
<html>
<head>
  <title>Swuit</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>


	<p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

<% if user_signed_in? %>
	<%= link_to('logout', destroy_user_session_path, :method => :delete) %>        
<% else %>
  <%= link_to('login', new_user_session_path)  %>
		<br>
  <%= link_to('sign up', new_user_registration_path) %>
<% end %>

<%= yield %>

</body>
</html>
